$AWE_SERVER_API="[% awe_host %]:[% awe_api_port %]";
$SHOCK_SERVER_API="[% shock_url %]";

use JSON;

my $id = shift;
$id = $ENV{AWE_JOB} if $ENV{AWE_JOB} && !$id;

my $job = `awe-job $id`;

my $r=decode_json($job);

foreach my $task (@{ $r->{'data'}->{'tasks'} } ) {
  push @outputs, $task->{outputs};
}

foreach my $output (@outputs) {
  foreach my $filename (keys %$output) {
    print $output->{$filename}->{url}, "\t", $filename, "\n";
  }
}
