use strict;
use JSON;
use Data::Dumper;
my $AWE_SERVER_API="[% awe_url %]";

use P3AuthToken;
my $tok = P3AuthToken->new();
my $auth_header;
$auth_header = "-H 'Authorization: OAuth $tok->{token}'" if $tok->{token};

my $jstring = `curl -s $auth_header \"$AWE_SERVER_API/job?query&state=in-progress\" | python -mjson.tool`;
my $r = decode_json($jstring);
foreach my $data (@{ $r->{data}}) {
  print $data->{'id'}, "\t";
  print $data->{'state'}, "\t";
  print $data->{'notes'}, "\n";
}
